<div class="h-[80vh] w-[100%] bg-bg_dark_color flex p-[103px_0px_0px_100px] mb-[40px]">
    <div class="h-fit w-[65%] flex flex-col gap-6 text-white">
     <h2 class=" font-[500] text-[30px]">The Remote Career Resources Hub is a collection of proven, practical tools built to help Nigerian professionals go from overlooked to booked and busy in the global job market.</h2>

     <p class="text-[20px]">Whether you're just starting or ready to level up, these resources are built to get you results.</p>
    </div>
</div>
