
  <nav class="">
    <span>
      <img src="images/comp_logo.png" alt="" class="h-[50px]" />
    </span>
    <ul class="flex list-none gap-[30px]">
      <li> <a href="#">Home</a></li>
      <li> <a href="#">Browse Jobs</a></li>
      <li> <a href="#">Post Jobs</a></li>
      <li> <a href="#">Resources</a></li>
      <li> <a href="#">Community</a></li>
      <li><a href="#" class="login_btn">Login</a></li>
       <!-- <a href="">
       <app-custom-button [text]="'login'" [btnstyles]="'text-white bg-black py-[10px] px-[20px] rounded-md'"/>
       </a> -->
    </ul>
  </nav>