<nav class=" w-[90vw] {{style.navbar}}">
  <span>
    <img src="images/comp_logo.png" alt="" class="h-[50px]" />
  </span>
  <ul class="flex list-none gap-[30px]">
    <li><a [routerLink]="''">Home</a></li>
    <li><a href="#">Browse Jobs</a></li>
    <li><a href="#">Post Jobs</a></li>
    <li><a [routerLink]="['../resources']">Resources</a></li>
    <li><a [routerLink]="['../community']">Community</a></li>
    <li><a href="#" class="login_btn {{style.login_btn}}">Login</a></li>
    <!-- @for(item of homepage_navlink; track item.length){
      <li><a [routerLink]="item.route" class="">{{item.link}}</a></li>
    } -->
  </ul>
</nav>
