.testimonials{
    width: 100vw;
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-bottom: 160px;
}
.testimonials_wrapper{
    width: 90vw;
    display: flex;
}
.testimonials_wrapper h4{
    font-weight: 600;
    font-size: 36px;
    width: 342px;
    line-height: 145%;
}
.testimonials_wrapper .testimonial_card_holder{
    height: fit-content;
    display: flex;
    gap: 30px;
}
.testimonial_card{
    width: 374px;
    border-radius: 6px;
    height: fit-content;
    padding: 24px;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.testimonial_card .client_comment p{
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    border-bottom: 1px solid gray;
    padding-bottom: 25px;
    
}
.testimonial_card .client_info{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}
.testimonial_card .client_info .cl_occupation{
   color: var(--dark-gray);
}
@media(max-width:430px){
    .testimonials_wrapper h4{
        font-size: 25px;
    }
    .testimonial_card{
        width: 100%;
    }
.testimonial_card .client_comment p{
    font-weight: 300;
    font-size: 14px;
}
.testimonial_card .client_info{
    font-size: 14px;
}
}
@media(max-width:360px){
    .testimonials_wrapper h4{
        font-size: 18px;
        text-align: center;
    }
}
