<section class="testimonials">
    <div class="testimonials_wrapper">
    <h4>See what people are saying</h4>
    <div class="testimonial_card_holder">

      <app-testimonial-card 
      [clientTestimony]="'I used to spend hours applying to jobs I wasn\'t qualified for. This platform is different — it only shows roles I can actually get.'"
      [clientName]="'Chidi A.'"
      [clientOccupation]="'Remote Customer Support Rep'"/>
      <app-testimonial-card 
      [clientTestimony]="'The response time from applicants was unreal. We hired two amazing team members within 72 hours.'"
      [clientName]="'David T.'"
      [clientOccupation]="'Startup founder (USA)'"/>

    </div>
    </div>
  </section>
