<section class="testimonials">
  <div class="testimonials_wrapper max-xl:flex-col max-xl:gap-4 max-[830px]:items-center">
    <h4>See what people are saying</h4>
    <div class="testimonial_card_holder max-[830px]:flex-col">
      @for(item of card_content; track item.length){
      <div class="testimonial_card">
        <div class="client_comment">
          <p>"{{ item.clientTestimony }}"</p>
        </div>
        <div class="client_info">
          <p class="cl_name">{{ item.clientName }}</p>
          <p class="cl_occupation">{{ item.clientOccupation }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</section>
