<div class="h-[80vh] w-[85vw] my-[50px] flex justify-center mx-auto">
 <div class="flex w-[100%] gap-[20px]">
    <div class="w-[65%] h-[100%] flex flex-col gap-[30px]">
      <h1 class="font-[600] text-[64px]">Everything You Need to Land a Remote Job-In One Place</h1>
      <div class=" h-fit flex">
       <ul class="grid grid-cols-2 gap-6">
        <div class="flex items-center gap-4 w-fit before:content-[url('/images/failed_btn.png')]">
        <li>You’re not lazy</li>
        </div>
        <div class="flex items-center gap-4 before:content-[url('/images/failed_btn.png')]">
        <li>You’re not unqualified</li>
        </div>
        <div class="flex items-center gap-4 before:content-[url('/images/success_btn.png')]">
        <li>You just haven't had the right strategy or support.</li>
        </div>
       </ul>

      </div>
    </div>
      <div class="w-[35%]">
        <img src="images/resource_img.png" alt="" class="h-[100%] object-contain">
      </div>

 </div>
</div>
