<section class="global_company w-[100%] h-fit mb-[70px] flex flex-col">
  <app-job-btns
    (employersactive)="onemployerActive()"
    (jobseekersactive)="onjobseekersActive()"
  />
  <div class="wrapper p-[40px] rounded-[40px] w-[90vw] mx-auto bg-[#FAF9F8]">
    @if(isjobseekers){
    <app-custom-remote-section
      [headerText]="jobseekers_content.header"
      [sub_headerText]="jobseekers_content.sub_text"
      [list]="jobseekers_content.list"
      [comment]="jobseekers_content.comment"
      [btnlink_content]="jobseekers_content.btnlink_content"
      [imagePath]="jobseekers_content.imagePath" 
    />
    }@else if (isemployers) {
    <app-custom-remote-section
      [headerText]="employers_content.header"
      [sub_headerText]="employers_content.sub_text"
      [list]="employers_content.list"
      [comment]="employers_content.comment"
      [btnlink_content]="employers_content.btnlink_content"
      [styles]="{button:'p-[15px_30px] rounded-md'}"
      [imagePath]="employers_content.imagePath"
      
    />
    }
  </div>
</section>
