<header class="h-fit w-[100vw] flex flex-col items-center">
  <app-navbar />
  <app-hero-section
    [hero_title]="
      'The #1 Job Board for Nigerians seeking International Remote Jobs'
    "
    [styles]="{
      hero_container: 'flex gap-[50px] h-fit w-[90vw] mx-auto justify-center',
      left_div: 'flex_column mb-[72px] h-fit w-[85%] py-[10px] max-[720px]:w-full',
      hero_title: 'text-[58px] font-[600] max-xl:text-[40px] max-[450px]:text-[30px] max-[360px]:text-[20px]',
      paragraph: 'text-[25px] mt-[19px] mb-[50px] leading-[42px] max-xl:text-[18px] max-[450px]:text-[15px]  max-[360px]:text-[14px]',
      hero_btn_div: 'flex w-100 items-center h-fit gap-[23px] max-[490px]:flex-col',
      right_div: 'h-fit w-[15%] max-[720px]:hidden',
      hero_image: 'w-[229px]'
    }"
    [content]="{
      type: 'paragraph',
      text: 'We\'re the platform where Nigerian professionals discover real remote jobs they\'re eligible for. And where global employers hire from a growing pipeline of world-class African talent.'
    }"
    [hero_image]="'images/top-hero-bg.png'"
  >
    <app-button
      [btn_content]="'Browse Jobs'"
      [btn_type]="'button'"
      [styles]="`bg-bg_dark_color text-orange_color`"
    />
    <app-button
      [btn_content]="'Post a Job'"
      [btn_type]="'button'"
      [styles]="` bg-transparent border-[1px] border-black  after:content-[url('/images/dark-arrow-up.png')] `"
    />
  </app-hero-section>
  <div class="mb-[30px] w-[90vw] mx-auto">
    <img src="images/top-hero.png" alt="" class="w-full" />
  </div>
</header>
<main>
  <app-global-company />
  <app-opportunity-section />
  <app-choose-section />
  <app-testimonials-section />
  <app-get-started-section />
</main>
<footer>
  <app-footer-section />
</footer>
