
.testimonial_card .client_comment p{
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    border-bottom: 1px solid gray;
    padding-bottom: 25px;
    
}
.testimonial_card .client_info{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}
.testimonial_card .client_info .cl_occupation{
   color: var(--dark-gray);
}