<div class="{{ styles.hero_container }}">
  <div class="{{ styles.left_div }}">
    <h1 class="{{ styles.hero_title }}">
      {{ hero_title }}
    </h1>
    @if(content?.type === 'paragraph'){
    <p class="{{ styles.paragraph }}">{{ content.text }}</p>
    }@else if(content?.type === 'list'){
    <ul class="{{ styles.hero_ul }}">
      @for(item of content.items; track item.length){
      <li class="{{ styles.hero_li }}">{{ item }}</li>
      }
    </ul>
    }
    <div class="{{ styles.hero_btn_div }}">
      <ng-content select=""></ng-content>
    </div>
  </div>
  <div class="{{ styles.right_div }}">
    <img src="{{ hero_image }}" alt="" class="{{ styles.hero_image }}" />
  </div>
</div>
