<div class="flex_column w-[90vw]">
  <div class="flex gap-[50px]">
    <div class=" flex_column mb-[72px] h-fit w-[85%] py-[10px]">
      <h1 class="text-[58px] font-[600]">
        The #1 Job Board for Nigerians seeking International Remote Jobs
      </h1>
      <p class="text-[25px] mt-[19px] mb-[50px] leading-[42px]">
        We're the platform where Nigerian professionals discover real remote
        jobs they're eligible for. And where global employers hire from a
        growing pipeline of world-class African talent.
      </p>
      <div class=" flex w-fit h-fit gap-[23px]">
        <a href="#" class="custom_hero_anchortag">Browse Jobs</a>
        <a
          href="#"
          class=" custom_hero_anchortag after:content-[url('/images/dark-arrow-up.png')] border-[1px] border-black"
          >Post A Job</a
        >
      </div>
    </div>
    <div class="h-fit w-[15%]">
      <img src="images/top-hero-bg.png" alt="" class="h-[229px]" />
    </div>
  </div>
  <div class="h-fit mb-[73px]">
    <img
      src="images/top-hero.png"
      alt="hero_img"
      class="w-[100%] object-fill"
    />
  </div>
</div>
