 <section class="Opportunity">
    <div class="wrapper">
      <img src="images/image1.png" alt="">
      <img src="images/image2.png" alt="">
      <img src="images/image3.png" alt="">
      <img src="images/image4.png" alt="">
      <img src="images/image1.png" alt="">
   
    <div class="available_remotejobs">
    <p>This is What Opportunity Looks Like.</p>
      <span>NaN+</span>
      <p>Remote Jobs Available</p>
    <a href="#" class="new_jobs">See Today New Job Listing</a>
      <marquee behavior="scroll" direction="left" >
      <a href="#">Remote jobs in Nigeria that Pays in dollars</a>
      <a href="#">How to work remotely from Nigeria in 2025</a>
      <a href="#">Remote jobs in Tech, writing, data, finance</a>
      </marquee>
    </div>
    </div>
  </section>
