<header class="w-[100vw] h-fit justify_center">
  <app-navbar [optnavstyle]="'font-pri_font'" />
</header>
<main>
  <app-resource-hero />
  <app-remote-career />
  <app-togglebtn />

  <div
    class="p-3 mb-[70px] w-[70vw] mx-auto h-fit grid grid-cols-3 gap-6 max-xl:w-[90vw] max-lg:grid-cols-2 max-lg:w-[70vw] max-md:w-[90vw] max-sm:grid-cols-1 max-sm:w-[70vw]"
  >
    <app-card
      [optcardstyle]="
        'h-[350px] w-auto rounded-none bg-transparent shadow-md flex flex-col gap-[20px]'
      "
      [headerText]="'Premium Remote Job Application Kit'"
      [optheaderstyle]="'text-[17px] translate-y-[220px] max-xl:text-[14px]'"
      [mainText]="'View Resources'"
      [optmaintextstyle]="'text-orange_color text-[14px] translate-y-[220px]'"
    />
    <app-card
      [optcardstyle]="
        'h-[350px] w-auto rounded-none bg-transparent shadow-md flex flex-col gap-[20px]'
      "
      [headerText]="'How to Get a Remote Job Without Experience'"
      [optheaderstyle]="'text-[17px] translate-y-[220px] max-xl:text-[14px]'"
      [mainText]="'View Resources'"
      [optmaintextstyle]="'text-orange_color text-[14px] translate-y-[220px]'"
    />
    <app-card
      [optcardstyle]="
        'h-[350px] w-auto rounded-none bg-transparent shadow-md flex flex-col gap-[20px]'
      "
      [headerText]="'AI Prompts + Email Templates for Job...'"
      [optheaderstyle]="'text-[17px] translate-y-[220px] max-xl:text-[14px]'"
      [mainText]="'View Resources'"
      [optmaintextstyle]="'text-orange_color text-[14px] translate-y-[220px]'"
    />
    <app-card
      [optcardstyle]="
        'h-[350px] w-auto rounded-none bg-transparent shadow-md flex flex-col gap-[20px]'
      "
      [headerText]="'The Ultimate LinkedIn Optimization Guide'"
      [optheaderstyle]="'text-[17px] translate-y-[220px] max-xl:text-[14px]'"
      [mainText]="'COMING SOON'"
      [optmaintextstyle]="'text-lite_gray text-[14px] translate-y-[220px]'"
    />
    <app-card
      [optcardstyle]="
        'h-[350px] w-auto rounded-none bg-transparent shadow-md flex flex-col gap-[20px]'
      "
      [headerText]="'Online Portfolio + Website Creation Guide'"
      [optheaderstyle]="'text-[17px] translate-y-[220px] max-xl:text-[14px]'"
      [mainText]="'COMING SOON'"
      [optmaintextstyle]="'text-lite_gray text-[14px] translate-y-[220px]'"
    />
    <app-card
      [optcardstyle]="
        'h-[350px] w-auto rounded-none bg-transparent shadow-md flex flex-col gap-[20px]'
      "
      [headerText]="'Interview Prep Masterclass'"
      [optheaderstyle]="'text-[17px] translate-y-[220px] max-xl:text-[14px]'"
      [mainText]="'COMING SOON'"
      [optmaintextstyle]="'text-lite_gray text-[14px] translate-y-[220px]'"
    />
    <app-card
      [optcardstyle]="
        'h-[350px] w-auto rounded-none bg-transparent shadow-md flex flex-col gap-[20px]'
      "
      [headerText]="'Full Remote Job Hunting Program'"
      [optheaderstyle]="'text-[17px] translate-y-[220px] max-xl:text-[14px]'"
      [mainText]="'COMING SOON'"
      [optmaintextstyle]="'text-lite_gray text-[14px] translate-y-[220px]'"
    />
    <app-card
      [optcardstyle]="
        'h-[350px] w-auto rounded-none bg-transparent shadow-md flex flex-col gap-[20px]'
      "
      [headerText]="'Remote Work Basic Skills Program'"
      [optheaderstyle]="'text-[17px] translate-y-[220px] max-xl:text-[14px]'"
      [mainText]="'COMING SOON'"
      [optmaintextstyle]="'text-lite_gray text-[14px] translate-y-[220px]'"
    />
    <app-card
      [optcardstyle]="
        'h-[350px] w-auto rounded-none bg-transparent shadow-md flex flex-col gap-[20px]'
      "
      [headerText]="'Remote Work Advanced Skills Program'"
      [optheaderstyle]="'text-[17px] translate-y-[220px] max-xl:text-[14px]'"
      [mainText]="'COMING SOON'"
      [optmaintextstyle]="'text-lite_gray text-[14px] translate-y-[220px]'"
    />
    <app-card
      [optcardstyle]="
        'h-[350px] w-auto rounded-none bg-transparent shadow-md flex flex-col gap-[20px]'
      "
      [headerText]="'Remote Work Tech Stack Program'"
      [optheaderstyle]="'text-[17px] translate-y-[220px] max-xl:text-[14px]'"
      [mainText]="'COMING SOON'"
      [optmaintextstyle]="'text-lite_gray text-[14px] translate-y-[220px]'"
    />
  </div>
</main>
<footer class="h-fit w-full p-6 align_center justify-between">
  <div class="h-fit w-fit flex gap-4 text-lite_gray">
    <a href="">Resources</a>
    <a href="">Need Help?</a>
  </div>
  <div class="h-fit w-fit flex gap-4 text-lite_gray">
    <p>© 2025, All Rights Reserved | Peepuu</p>
  </div>
</footer>
