@tailwind utilities;
@tailwind components;

@layer utilities {
  .justify_center {
    @apply flex justify-center;
  }
  .align_center {
    @apply flex items-center;
  }
  .just_align_center {
    @apply flex justify-center items-center;
  }
  .background_image{
    @apply bg-no-repeat bg-contain bg-[0%_30%]
  }
}
@layer components{
::ng-deep app-hero-section :nth-child(2) :last-child::before{
  content: url('/images/success_btn.png');
}
 .active{
    color: white;
    background: black;
    padding: 8px;
    border-radius: 14px;
}
}


