 <div class="link_holder">
    <div class="top_section">
      <!-- <div class="link_grid"> -->
        <ul>
          <span>Company</span>
          <li>For Jobseekers</li>
          <li>For Employers</li>
        </ul>
        <ul>
          <span>Help</span>
          <li>Contact Us</li>
          <li>Terms and Conditions</li>
          <li>Privacy Policy</li>
        </ul>
        <ul>
          <span>Resources</span>
          <li>Job Hunting</li>
          <li>Community</li>
          <li>Blog Posts</li>
        </ul>
      <!-- </div> -->
    </div>
    <div class="peepu_logo">
      <img src="images/comp_logo.png" alt="">
    </div>
    <!-- <hr> -->
    <div class="mid_section">
      <p>
       @for(link of footerLinks; track link.length){
        <a href="#">{{link}}</a>
       }
       </p>
    </div>
    <!-- <hr> -->
    <div class="bottom_section">
   <p class="text-gray-600"> Copyright 2025 | All rights reserved</p>
   <div class="social_links">
    <a href=""><img src="images/dark-twitter.png" alt=""></a>
     <a href=""><img src="images/light-fb.png" alt=""></a>
     <a href=""><img src="images/dark-insta.png" alt=""></a>
     <a href=""><img src="images/linked-in.png" alt=""></a>
   </div>
    </div>
  </div>
