@tailwind utilities;
@tailwind components;
@layer utilities {
  .justify_center {
    @apply flex justify-center;
  }
  .align_center {
    @apply flex items-center;
  }
  .just_align_center {
    @apply flex justify-center items-center;
  }
}
@layer components {
  .jobBtns {
    @apply w-[400px] h-[84px] align_center gap-[16px] p-[12px] rounded-[32px] ml-[5vw] mb-[45px] bg-jobBtns_bg;
  }
  .jobBtns button {
    @apply text-bg_dark_color font-[400] align_center gap-[10px];
  }
  .jobBtns button::before {
    @apply w-[30px] aspect-square rounded-[50%] bg-job_icon just_align_center;
  }
  .active {
    @apply bg-lite p-[12px_24px] rounded-[30px];
  }

}
@media(max-width:570px){
   .jobBtns{
    width: 300px;
    height: 70px;
   }
   .jobBtns button{
    font-family: 200;
    font-size: 12px;
   }
}
@media(max-width:330px){
   .jobBtns{
    width: fit-content;
    height: 50px;
   }
   .jobBtns button{
    font-family: 200;
    font-size: 10px;
   }
}
