@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root{
    --bg-dark-color:#000000;
    --dark-gray:#4A5565;
    --orange-color:#E79605;
    --lite-dark:#1A1A1A; 
     --dark-blue:#1E293B;
     --gray-color:#344054;
     --lite-gray:#6A7282;
     --lite-orange:#F9A601;
     --grey:#313B46;
     --lite-dark:#3E444B;
     --lite-grey:#A1A1A1;
     --sub-white:#D9D9D9;
     --lite-white:#E5E5E5;
     --sub-grey:#D2D7E1;
     --lite:#FAFAFA;
     --sub-lite:#F3F4F6;
     --light:#D1D5DC;
     --nav-link:#242424;
     --jobBtns-bg:#F1F3F6;
     --job-icon:#EAEBEE;

     --font:Onest;

} */

*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    @apply h-fit w-[100vw] font-pri_font overflow-x-hidden
}
