<section class="getStarted">
  <div class="getStarted_wrapper">
    <p>Ready to get started</p>
    <span>Choose your journey</span>
    <div class="journey_card_holder">
      <app-card
        [headerText]="'I\'m a Job Seeker'"
        [mainText]="
          'Find remote jobs with real pay, real employers, and zero relocation required'
        "
        [imgPath]="'images/dark-arrow-right.png'"
        
      />
      <app-card
        [headerText]="'I\'m an Employer'"
        [mainText]="
          'Post a role and hire from a growing pipeline of Nigeria\'s top professionals.'
        "
        [imgPath]="'images/dark-arrow-right.png'"
      />
    </div>
  </div>
</section>
